@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
body{
background-color: lightblue;
font-family: "Chelsea Market", system-ui;
}

p{
background-color: yellow;
text-align: center;
font-size: 15px;
color:black;
}

.Info{
background-color: rgb(117, 88, 88);
font-family: "Chelsea Market", system-ui;
color: white;
font-size: 20px;

}
.contenedor_de_targetas {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
    padding: 20px;
    border-radius: 20px;
}
.targeta {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border: 2px dotted rgb(0, 0, 0);
}
.targeta img {
width: 175px;
height: 100px;
border-radius: 5px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    position: sticky;
    top: 0;
    box-shadow: 0px 12px 23px -7px rgba(0,0,0,0.41);
-webkit-box-shadow: 0px 12px 23px -7px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 12px 23px -7px rgba(0,0,0,0.41);
background-color: rgb(185, 23, 23);
}

.enlaces{
    display: flex;
    list-style: none;
    width: 450px;
    justify-content: space-evenly;
    text-align: center;
}

.link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}